#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    margin-bottom: 3rem;
}

#btn-home {
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;
}

#btn-home:hover {
    background-color: black;
    color: #E5E5E5;

}

#titulo {
    font-size:2rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
}

#div-batalha {
    display: flex;
    gap: 10rem;
}

.imagem-heroi-padrao {
    width: 18rem;
    height: 20rem;
    margin-left: 10px;
    vertical-align: middle;
}