#header {
    text-align: center;
    padding: 1rem;
    background-color: #F4F4F4;

    margin-bottom: 3rem;
}

#btn-home, #btn-herois, #btn-batalha, #btn-crimes, #btn-missoes {
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;

    margin-right: 1rem;
}

#btn-home:hover, #btn-herois:hover, #btn-batalha:hover, #btn-crimes:hover, #btn-missoes:hover {
    background-color: black;
    color: #E5E5E5;

}

#titulo {
    font-size:2rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: bold;

    margin-bottom: 2rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
}


#menu {
    display: flex;
    justify-content: center;
    gap: 9rem;

    margin-top: 5rem;
}

#div-batalha {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 3rem;

    margin-top: 1rem;
    gap: 15rem;

    border: solid;
    background: linear-gradient(90deg, #FF5733, #8A2BE2);
}

.imagem-heroi-padrao {
    width: 18rem;
    height: 20rem;
    vertical-align: middle;
    border: solid 0.2rem;
}

.seletor {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.8rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

.seletor label {
    margin-bottom: 1rem;
}

.seletor select {
    margin-bottom: 3rem;

    font-size: 1.5rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;

    padding: 0.625rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid black;
}

#div-batalha .seletor .heroi-nome {
    margin-bottom: 1rem;

    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

#div-batalha .seletor .heroi-dados {
    display: flex;
    flex-direction: column;
}

.dados-linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dados-linha p {
    margin: 0;

    white-space: nowrap;

    font-size: 1.5rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}

.dados-linha p:first-child {
   margin-right: 1.5rem;
}

.dados-linha p:last-child {
    margin-left: 1.5rem;
}

#opcoes-batalha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.checkbox-pair {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 1.2rem;
    width: 100%;
}

.checkbox-pair label {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    font-size: 1.5rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}

.checkbox-pair label:first-child {
    justify-content: flex-start;
}

.checkbox-pair label:last-child {
    justify-content: flex-end;
}

.checkbox-pair input {
    cursor: pointer;
    transform: scale(1.2);
    margin-right: 0.5rem;
}

.linha-superior {
    font-weight: bold;
}

.linha-inferior {
    font-size: 0.9rem;
    color: #555;
    display: block;

    font-size: 1.23rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
}

#vs {
    font-size: 7rem;
    font-weight: bold;
    
    text-align: center;
    margin: 1.5rem;
}

#btn-batalhar {
    border-radius: 0.5rem;
    padding: 2rem 4rem;

    font-size: 2rem;
    cursor: pointer;

    font-family: "Nanum Gothic Coding", monospace;

    display: block;
    margin: 0 auto;
}

#btn-batalhar:hover {
    background-color: black;
    color: #E5E5E5;
}

#dialog-content {
    width: 80rem;
    padding: 1.25rem;
    border-radius: 8px;
}

#etapas-batalha {
    font-size: 1.4rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;

    margin-bottom: 1rem;
}

.centralizado {
    text-align: center;
}

#dialog-titulo {
    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;
}

.log {
    margin-bottom: -25px;
    margin-top: -10px;
}

#fechar-dialog {
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.8rem 1.3rem;
    
    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#fechar-dialog:hover {
    background-color: red;
}

.nome-heroi-vermelho {
    color: red;
    font-weight: bold;
}

.nome-heroi-verde {
    color: green;
    font-weight: bold;
}

#nome-heroi {
    border-radius: 0.5rem;
    border: 0.3rem solid;
    padding: 1rem;
}

.destaque {
    font-weight: bold;
    color: #FF5733; /* Escolha uma cor que chame a atenção */
}

