#header {
    text-align: center;
    padding: 1rem;
    background-color: #F4F4F4;

    margin-bottom: 3rem;
}

#btn-home, #btn-herois, #btn-batalha, #btn-crimes, #btn-missoes {
    border-radius: 0.5rem;
    padding: 0.6rem 1.2rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;

    margin-right: 1rem;
}

#btn-home:hover, #btn-herois:hover, #btn-batalha:hover, #btn-crimes:hover, #btn-missoes:hover {
    background-color: black;
    color: #E5E5E5;

}

#titulo {
    font-size:2rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: bold;

    margin-bottom: 2rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
}

#subtitulo {
    font-size:2rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 9rem;

    margin-top: 5rem;
}

#filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12.5rem;

    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;

    width: calc(100% - 25rem);
}

#input-nome-missao, #input-dificuldade, #input-resultado {
    padding: 0.625rem;
    margin: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #ccc;

    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;
    width: 15.625rem;
}

#btn-busca-missoes, #btn-todas-missoes, #btn-cadastrar-missao {
    cursor: pointer;
    border-radius: 0.3125rem; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;
}

#btn-busca-missoes:hover, #btn-todas-missoes:hover {
    background-color: black;
    color: #ccc;
}

#btn-cadastrar-missao:hover {
    background-color: green;
    color: white;
}

#dialog-cadastrar-missao {
    width: 70rem;
    height: 40rem;
    
    font-family: "Nanum Gothic Coding", monospace;
}

#btn-dialog-cadastrar {
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.5rem 0.8rem;
    
    font-size: 1.5rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#btn-dialog-cadastrar:hover {
    background-color: green;
    color: #E5E5E5;
}

#btn-dialog-cadastrar-fechar {
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.8rem 1.3rem;
    
    font-size: 2rem;
    font-family: "Nanum Gothic Coding", monospace;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#btn-dialog-cadastrar-fechar:hover {
    background-color: red;
}

#dialog-cadastrar-missao form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
}

#dialog-cadastrar-missao label {
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#dialog-cadastrar-missao input, #dialog-cadastrar-missao select, #dialog-cadastrar-missao textarea {
    width: 100%;
    margin: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid black;

    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

.linha-herois {
    display: flex;
    align-items: end;
    gap: 1rem;
}

.linha-herois div:first-child {
    flex: 0 0 70%;
}

.linha-herois div:last-child {
    flex: 0 0 30%;
}

#herois {
    width: 100%;
}

#btn-adicionar-heroi {
    width: 80%;

    cursor: pointer;
    border-radius: 0.3125rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#btn-adicionar-heroi:hover {
    background-color: black;
    color: #CCC;
}

#herois-lista {
    gap: 1rem;
}

#herois-lista span {
    margin-right: 1rem;
    font-size: 1.3rem;
    font-family: "Nanum Gothic Coding", monospace;
}

.btn-remover-heroi {
    cursor: pointer;
    border-radius: 0.3125rem;

    margin-left: 0.4rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

.btn-remover-heroi:hover {
    background-color: red;
}

#tabela-missoes {
    width: calc(100% - 25rem);
    margin: 2rem auto;
    border-collapse: collapse;
}

td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.img-heroi-responsavel {
    width: 2.5rem;
    height: 5rem;
    margin-right: 5px;
    object-fit: cover;
}

th {
    white-space: nowrap;
}

#tabela-missoes thead th {
    background-color: #333;
    color: #E5E5E5;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

#tabela-missoes tbody tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

#tabela-missoes tbody td {

    padding: 1rem;
    font-size: 1rem;
    border-bottom: 0.0625rem solid #ddd;
    text-align: center;
}

#tabela-missoes tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

#tabela-missoes tbody tr:hover {
    background-color: #e0e0e0;
}

@media (max-width: 48rem) {
    #tabela-missoes {
        width: 100%;
    }
    
    #tabela-missoes thead th, #tabela-missoes tbody td {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

#btns-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn-excluir, .btn-editar {
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.375rem 0.75rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

.btn-excluir:hover {
    background-color: red;
    color: black;
}

.btn-editar:hover {
    background-color: black;
    color: #ccc;
}

#editar-missao-dialog {
    width: 50rem;
    height: 29rem;

    
    font-family: "Nanum Gothic Coding", monospace;
}

#editar-missao-dialog form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 100%;
}

#editar-missao-dialog label {
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#editar-missao-dialog input, #editar-missao-dialog select, #editar-missao-dialog textarea {
    width: 100%;
    margin: 0;
    border-radius: 0.3125rem;
    border: 0.0625rem solid black;

    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#salvar-edicao-missao, #btn-sair-edicao-missao {
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0.375rem 0.75rem;
    
    font-size: 1rem;
    font-family: "Nanum Gothic Coding", monospace;
}

#btn-sair-edicao-missao {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#salvar-edicao-missao:hover {
    background-color: green;
    color: black;
}

#btn-sair-edicao-missao:hover {
    background-color: red;
    color: black;
}

