#titulos {
    text-align: center;
    margin: 0 auto;
    padding: 0.7rem;

    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}

#iniciar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;

    border-radius: 1rem;
    padding: 5rem 7rem;
    
    font-size: 7rem;
    font-family: "Nanum Gothic Coding", monospace;
    cursor: pointer;

    margin-top: 10rem;
}

#iniciar:hover {
    background-color: black;
    color: #CCC;
}
